doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
    header.header
        h1 #{title}
    article.container
        each model in models
            div.model
                img(src=`/img/${model.imgSrc}`)
                h2.model-name
                    | #{model.theme} - #{model.year}
                a(href=`/model?id=${model.id}`)
                    | View Profile
