doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
    header.header
        h1 #{title}
    article.container
        div.model
            div.model-image
                img(src=`/img/${models.imgSrc}`)
            div.model-details
                h1.model-name
                    | #{models.name} 
                h2.model-theme
                    | #{models.theme} 
                h2.model-year
                    | #{models.year}