doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body(style="background-image:url(/img/sfondo.jpg)")
    header.header
        h1 #{title}
    div.model
        div.model-image
            img(src=`/img/${model.imgSrc}`)
        div.model-details
            h1.model-name
                | Nome: #{model.name} 
            h2.model-theme
                | Tema: #{model.theme} 
            h2.model-year
                | Anno: #{model.year}
        div.model-instructions
            img(src=`/img/${model.instruct1}`)
            img(src=`/img/${model.instruct2}`)
            img(src=`/img/${model.instruct3}`)
            img(src=`/img/${model.instruct4}`)