doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
    header.header
        h1 #{title}
    article.container
         each model in models
            div.model
                div.model-details
                    h1.model-name
                        | #{model.name} 
                    h2.model-theme
                        | #{model.theme} 
                    h2.model-year
                        | #{model.year}